 .burgers {
     background-color: #f9b43b;
 }
  .burgers__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 950px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
  
    @include tablets { 
      max-width: 740px;
    }
  
    @include phones {
      max-width: 480px;
    }
  
  
  }
  

